<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whykaycraft portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        
    <link rel= "stylesheet" type="text/css" href="/stylesheet/app.css">
    <link rel="shortcut icon" href="/img/whykaycraft.ico" />
    <link rel="apple-touch-icon" href="/img/whykaycraft.ico" />
</head>
<body>
    
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
              <p><%= error %></p>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
              <p><%= success %></p>
        </div>
        <% } %>
    <div class="grid-container">
        <div class="screen-container" id="section1">
            <img id="screen" src="/img/coder.jpg" alt="screen">
            <div id="screen-text">
                <div >Hi, I am <span id="myname">Wakeel Mujeeb</span></div> 
                <div>I am a full-stack web developer</div>
                <div>I love to solve problems</div>
                <a href="#section2"><button id="screenBtn">Check my work</button></a>
            </div>
        </div>
        <div class="main" id="section2">
            <div id="about-me">
                <h3>About me </h3>
                <div id="myself">
                    <img id="myImg" alt="Wakeel, Mujeeb Adeyinka" src="/img/myself.jpg" alt="whykay">
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                        </div>
                </div>
                <div id="description">
                    <ul>
                        <li> My name is Wakeel Mujeeb Adeyinka, an enthusiastic web developer. I am into front-end and back-end development.</li>
                        <li>I have a degree in Chemistry with a First Class. I am very diligent in all I do.</li>
                        <li>I find web development very interesting because it is a problem solving skill.</li>
                        <li>I acquired this skill as a result of my passion for it and this I achieved via Udemy Academy tutorial videos and lots of online resources.</li>
                        <li>I am proud to be a web developer because it is what I love to do.</li>
                        <li>I am a trustworthy and dependable individual.</li>
                    </ul>
                </div>
                <div id="github">
                    Check my GitHub <a href="https://github.com/mujeebwakeel">repo</a> for my source code.
                </div>
                <div id="contact">
                    <h3>Contact</h3>
                    <a href="mailto:wakeelmujeeb@gmail.com?subject=My%20Portfolio%20Chat">wakeelmujeeb@gmail.com</a>
                </div>
                    <hr>
                <div style="text-align: center;">Let's work together</div>
                <div id=>
                    <form action="/contact" method="POST">
                        <div class="form-group" id="name">
                            <input class="form-control" type="text" name="name" placeholder="Your name" required>
                        </div>

                        <div class="form-group" id="email">
                            <input class="form-control" type="email" name="email" placeholder="Your email address" required>
                        </div>

                        <div class="form-group" id="message">
                            <textarea class="form-control" name="message" placeholder="Your message" required></textarea>
                        </div>

                        <div class="form-group">
                            <button class= "btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="recent-work">
                <h3>Recent works</h3> 
                <div id="shopping">
                    <h4>Fashion Shopping Site  <a href="https://whykay.herokuapp.com">here...</a> </h4>
                    <div>What the site does:</div>
                    <ul>
                        <li>It is an e-commerce website that deals in wears</li>
                        <li>Users can place their orders on the site</li>
                        <li>Users can make payment upon order via paypal</li>
                        <li>The website generates receipt for customers after an order has been placed</li>
                        <li>All orders and payment made on the site are saved and tracked</li>
                    </ul>
                    <div>Languages and Frameworks employed</div>
                    <ul>
                        <li>HTML, CSS, Javascript, Node.js, React.js, Redux, and jQuery</li>
                    </ul>
                </div>
                <div id="camping">
                    <h4>Camp Stations Booking Site <a href="https://whykaycamp.herokuapp.com">here...</a></h4>
                    <div>What the site does:</div>
                    <ul>
                        <li>It is a camping site that showcases different camp stations</li>
                        <li>Users are allowed to view and comment on the camp stations</li>
                        <li>Users can book some dates to spend some night away from their home</li>
                        <li>Payment is also made available on the site</li>
                        <li>Already picked dates are disabled in every camp station's calendar</li>
                    </ul>
                    <div>Languages and Frameworks employed</div>
                    <ul>
                        <li>HTML, CSS, Javascript, Node.js, Bootstrap, and jQuery</li>
                    </ul>
                </div>
                <div id="gbale">
                    <h4>Gbale Customer Tracking Site <a href="https://gbaletrack.herokuapp.com">here...</a></h4>
                    <div>What the site does:</div>
                    <ul>
                        <li>It is a site for office use only</li>
                        <li>Gbale is a start-up company that deals in renting house to tenants</li>
                        <li>Customers seeking accommodation are registerd on the site</li>
                        <li>Gbale keeps record of how fast every customer is attended to</li>
                        <li>This is achieved with a notification that changes color for each registered customer after 24hrs</li>
                    </ul>
                    <div>Languages and Frameworks employed</div>
                    <ul>
                        <li>HTML, CSS, Javascript, Node.js and Bootstrap</li>
                    </ul>
                </div>
                <hr>
                <div id="camp">
                    <img src="/img/camp.jpg" alt="preview">
                    <div class="overlay">
                        <img src="/img/camp2.jpg" alt="preview" >
                    </div>
                </div>
                
            </div>

            <div id="languages">
                <h3>Languages and Frameworks</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>Node.js</li>
                    <li>jQuery</li>
                    <li>React.js</li>
                    <li>Bootstrap</li>
                    <li>Redux</li>
                </ul>
                <div class="slider">
                    <span id="slide-1"></span>
                    <span id="slide-2"></span>
                    <span id="slide-3"></span>
                    <div class="image-container">
                        <img src="/img/camp2.jpg" class="slide" width="400" height="220" />
                        <img src="/img/camp3.jpg" class="slide" width="400" height="220" />
                        <img src="/img/camp4.jpg" class="slide" width="400" height="220" />
                      </div>
                      <div class="buttons">
                        <a href="#slide-1"></a>
                        <a href="#slide-2"></a>
                        <a href="#slide-3"></a>
                      </div>
                </div>
                <div class="slider2">
                    <span id="slide2-1"></span>
                    <span id="slide2-2"></span>
                    <span id="slide2-3"></span>
                    <div class="image-container">
                        <img src="/img/fashion3.jpg" class="slide2" width="400" height="220" />
                        <img src="/img/fashion.jpg" class="slide2" width="400" height="220" />
                        <img src="/img/fashion2.jpg" class="slide2" width="400" height="220" />
                      </div>
                      <div class="buttons">
                        <a href="#slide2-1"></a>
                        <a href="#slide2-2"></a>
                        <a href="#slide2-3"></a>
                      </div>
                </div>
                <div class="preview">
                    <img src="/img/fashion4.jpg" alt="preview">
                    <div class="over">
                        <a href="#section1" class="text"><button>Home Screen</button></a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="footer">
            <span>&#169;2020 Whykay&#8482;</span>
            <span ><a href="https://wa.me/2348169392279"><img src="/img/whatsApp.jpg" alt="whatsApp" width="20" height="20"></a></span>
            <span ><a href="https://www.facebook.com/wakeel.mujeeb"><img src="/img/facebook.jpg" alt="facebook" width="20" height="20"></a></span>
        </div>
    </div>

<script src="/script/screen.js"></script>
</body>
</html>