<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whykaycraft portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        
    <link rel= "stylesheet" type="text/css" href="/stylesheet/app.css">
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top"> 
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adex" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> <img style="width: 2rem; height: 2rem; display: inline-block;" src="/img/favicon.png" alt="icon"> WhykayCraft</a>
            </div>
            <div class="collapse navbar-collapse" id="adex">
                    <ul class="nav navbar-nav navbar-right">
                            <li class="navlist"><a href="#home">Home</a></li>
                            <li class="navlist"><a href="#about">About</a></li>
                            <li class="navlist"><a href="#portfolio">Portfolio</a></li>
                            <li class="navlist"><a href="#resume">Resume</a></li>
                            <li class="navlist"><a href="#contact">Contact</a></li>
                    </ul>
            </div>
        </div>
</nav>
    <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
        <p><%= error %></p>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert">
        <p><%= success %></p>
    </div>
    <% } %>
    
    <div class="grid-container">
        <div id="home" class="home">
            <img id="screen" src="/img/coder.jpg" alt="screen">
            <div id="screen-text">
                <div >Hi, I am <span class="myname">Wakeel Mujeeb,</span></div> 
                <div>I am a full-stack web developer</div>
                <br>
                <div>
                    <a href="#about"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>

        <div id="about" class="about">
            <h2 style="text-align: center;"><strong><span id="about-header">About me</span></strong></h2>
            <div id="about-container">
                <div style="max-width:70rem; width:90%; margin:10px auto;">
                    <div id="myself">
                        <img id="myImg" alt="Wakeel, Mujeeb Adeyinka" src="/img/Mujeeb.jpg">
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    </div>
                    <h3 style="text-align: center;">Full-Stack Web Developer</h3>
                    <div class="description">
                        <div class="desc1">I am a full-stack web developer, a first class graduate of Obafemi Awolowo University. I am a goal-driven individual, always passionate and enthusiastic about all I do. The satisfaction of my clients is my priority in any projects.</div>
                        <div class="desc2">
                            <div><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <strong>Phone</strong>: +234 8169392279</div>
                            <div><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <strong>City</strong>: Osun, Nigeria</div>
                            <div><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <strong>Degree</strong>: Bachelor of Science</div>
                            <div><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <strong>Email</strong>: wakeelmujeeb@gmail.com</div>
                            <div><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <strong>Freelance</strong>: Available</div>
                        </div>
                    </div>
                    
                    <div class="slideshow-container">
    
                        <div class="mySlides fade">
                          <div class="numbertext">1 / 5</div>
                          <img src="/img/camp5.jpg" style="width:100%">
                          <div class="text">whykay camp</div>
                        </div>
                        
                        <div class="mySlides fade">
                          <div class="numbertext">2 / 5</div>
                          <img src="/img/house4.jpg" style="width:100%">
                          <div class="text">gbale</div>
                        </div>
                        
                        <div class="mySlides fade">
                          <div class="numbertext">3 / 5</div>
                          <img src="/img/shoe5.jpg" style="width:100%">
                          <div class="text">whykay fashion</div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">4 / 5</div>
                            <img src="/img/binary.jpg" style="width:100%">
                            <div class="text">binaryxinvestment</div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">5 / 5</div>
                            <img src="/img/law1.jpg" style="width:100%">
                            <div class="text">optimal legalpreneurs</div>
                        </div>
                        
                    </div>
                        <br>
                        
                    <div style="text-align:center">
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                    </div>
                </div>            
            </div>
        </div>
                
        <div id="portfolio" class="portfolio">
            <h2 style="text-align: center; margin: 40px auto;" > <strong><span id="portfolio-header">Portfolio</span></strong></h2>
            <div class="container">
                <div class ="text-center" style="display:flex; flex-wrap: wrap;">
                    <div class="col-md-4 col-sm-6">
                        <div class="thumbnail">
                            <img src="/img/binary.jpg">
                            <div class="overlay">
                                <div class="text-overlay">Web 1</div>
                                <div class="text-middle"><span>HTML</span> <span>CSS3</span> <span>JavaScript</span> <span>Node.js</span> <span>Mongodb</span> <span>Bootstrap</span></div>
                                <div class="more-info"><a href="https://www.binaryxinvestment.com">More Info</a></div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="thumbnail">
                            <img src="/img/law1.jpg">
                            <div class="overlay">
                                <div class="text-overlay">Web 2</div>
                                <div class="text-middle"><span>HTML</span> <span>CSS3</span> <span>JavaScript</span> <span>Node.js</span> <span>Mongodb</span> <span>Bootstrap</span></div>
                                <div class="more-info"><a href="https://www.optimallegalpreneurs.com">More Info</a></div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="thumbnail">
                            <img src="https://res.cloudinary.com/wakeelmujeeb/image/upload/v1598825401/a4klikmi0hpd9dwhremo.jpg">
                            <div class="overlay">
                                <div class="text-overlay">Web 3</div>
                                <div class="text-middle"><span>HTML</span> <span>CSS3</span> <span>JavaScript</span> <span>Node.js</span> <span>Mongodb</span> <span>Bootstrap</span></div>
                                <div class="more-info"><a href="https://whykaycamp.herokuapp.com">More Info</a></div>
                            </div>
                        </div> 
                    </div>    
                    <div class="col-md-4 col-sm-6">
                        <div class="thumbnail">
                            <img src="https://res.cloudinary.com/wakeelmujeeb/image/upload/v1598824491/gxaclae4imgbgcuh8uxh.jpg">
                            <div class="overlay">
                                <div class="text-overlay">Web 3</div>
                                <div class="text-middle"><span>HTML</span> <span>CSS3</span> <span>JavaScript</span> <span>Node.js</span> <span>Mongodb</span> <span>Bootstrap</span></div>
                                <div class="more-info"><a href="https://whykaycamp.herokuapp.com">More Info</a></div>
                            </div>
                        </div> 
                    </div>    
                    
                    <div class="col-md-4 col-sm-6">
                        <div class="thumbnail">
                            <img src="https://res.cloudinary.com/wakeelmujeeb/image/upload/v1598812372/slippers5_u44gsj.jpg">
                            <div class="overlay">
                                <div class="text-overlay">Web 4</div>
                                <div class="text-middle"><span>HTML</span> <span>CSS3</span> <span>JavaScript</span> <span>Node.js</span> <span>React.js</span> <span>Redux</span> <span>Mongodb</span> </div>
                                <div class="more-info"><a href="https://whykay.herokuapp.com">More Info</a></div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="thumbnail">
                            <img src="https://res.cloudinary.com/wakeelmujeeb/image/upload/v1598808974/sneakers1_woey5r.jpg">
                            <div class="overlay">
                                <div class="text-overlay">Web 4</div>
                                <div class="text-middle"><span>HTML</span> <span>CSS3</span> <span>JavaScript</span> <span>Node.js</span> <span>React.js</span> <span>Redux</span> <span>Mongodb</span> </div>
                                <div class="more-info"><a href="https://whykay.herokuapp.com">More Info</a></div>
                            </div>
                        </div> 
                    </div>
                    
                    <div class="col-md-4 col-sm-6">
                        <div class="thumbnail">
                            <img src="/img/house2.jpg">
                            <div class="overlay">
                                <div class="text-overlay">Web 5</div>
                                <div class="text-middle"><span>HTML</span> <span>CSS3</span> <span>JavaScript</span> <span>Node.js</span> <span>Mongodb</span> <span>Bootstrap</span></div>
                                <div class="more-info"><a href="https://gbaletrack.herokuapp.com">More Info</a></div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="thumbnail">
                            <img src="/img/house4.jpg">
                            <div class="overlay">
                                <div class="text-overlay">Web 5</div>
                                <div class="text-middle"><span>HTML</span> <span>CSS3</span> <span>JavaScript</span> <span>Node.js</span> <span>Mongodb</span> <span>Bootstrap</span></div>
                                <div class="more-info"><a href="https://gbaletrack.herokuapp.com">More Info</a></div>
                            </div>
                        </div> 
                    </div>

                    
                </div>
                <div class="lang">
                        <span><strong>HTML</strong></span> <span><strong>CSS3</strong></span> <span><strong>JavaScript</strong></span> <span><strong>Node.js</strong></span> <span><strong>MongoDb(NoSQL)</strong></span> <span><strong>React.js</strong></span> <span><strong>Redux</strong></span> <span><strong>Bootstrap</strong></span> <span><strong>jQuery</strong></span> 
                </div> 
            </div>
        </div>

        <div id="resume" class="resume">
            <h2 style="text-align: center; margin-bottom: 18px; margin-top: 40px;"><strong><span id="resume-header">Resume</span></strong></h2>
            <div id="resume-container">
                <div id="resume-inner-container" style="max-width:70rem; width:90%; margin: 10px auto;">
                    <div class="resume-page1 resume-slide ">
                        <div class="numbertext1">1 / 2</div>                        <div id="summary">
                            <h3><strong>Summary</strong></h3>
                            <div id="sum">
                                Enthusiastic, innovative and deadline-driven Web Developer with 1 year of experience designing and developing user-friendly websites with good functionalities.
                            </div>                    
                        </div>
                        <div id="education">
                            <h3><strong>Education</strong></h3>
                            <div style="border-left: 3px solid orange;">
                                <div style="margin-bottom: 10px; padding-left: 20px;">
                                    <div style="color: chocolate;">BSc Chemistry</div>
                                    <div><span class="year">2015-2019</span></div> 
                                    <div><em>Obafemi Awolowo University, Ile-Ife</em></div>               
                                </div>
                                
                                <div style="padding-left: 20px">
                                    <div style="color: chocolate;">Web Design and Development</div>
                                    <div><span class="year">2019-2020</span></div>  
                                    <div><em>Self-taught</em></div>              
                                </div>                    
                            </div>
                        </div>
                        <div id="location">
                            <h3><strong>Location</strong></h3>
                                <ul style="border-left: 3px solid orange;">
                                    <li>Talafia Baba Abiye, Ede, Osun State, Nigeria</li>
                                    <li>+234 8169392279</li>
                                    <li>wakeelmujeeb@gmail.com</li>
                                </ul>
                        </div>
                        <div id="skills">
                            <h3><strong>Skills</strong></h3>
                            <div id="sum">
                                <h4 style="color: chocolate;">Web Development</h4>
                                <div> <span>HTML</span> <span>CSS3</span> <span>JavaScript</span> <span>Node.js</span> <span>React.js</span> <span>MongoDB(No SQL)</span>
                                </div>                    
                            </div>
                        </div>
                        <div id=language>
                            <h3><strong>Language</strong></h3>
                            <ul style="border-left: 3px solid orange;">
                                <li>English</li>
                            </ul>
                        </div>
                    </div>            
                    <div class="resume-page2 resume-slide">
                        <div class="numbertext1">2 / 2</div>                        
                        <h3><strong>Work Experience</strong></h3>
                        <div id="project-1">
                            <h4 style="color: chocolate;">Optimal legalpreneurs</h4>
                            <div>
                                <strong>FULLSTACK</strong> 
                                <div>
                                    RESTful routes implemented in the web application using Node.js and data saved using Mongodb. 
                                    It is a web application for Optimal Legalpreneurs, a law firm situated in Ibadan, Oyo, Nigeria. 
                                    The web application allows users to submit their information, documents, 
                                    sign electronically and also make payment via Paystack for the service being requested through the application.
                                </div>
                            </div>
                        </div>
                        <div id="project-2">
                            <h4 style="color: chocolate;">Binaryxinvestment</h4>
                            <div>
                                <strong>BACKEND</strong> 
                                <div>
                                    RESTful routes implemented in the web application using Node.js and data saved using Mongodb. 
                                    It is a web application that allows users to make investment and also apply for 
                                    withdrawal of funds via the application. 
                                    Admin is notified of the users’ requests via email.
                                </div>
                            </div>
                        </div>
                        <div id="project-3">
                            <h4 style="color: chocolate;">Whykay Camp</h4>
                            <div>
                                <strong>FULLSTACK</strong> 
                                <div>
                                    RESTful routes implemented in the web application using Node.js and data saved using Mongodb. 
                                    It is a web application that allows users to view campgrounds, make comment, 
                                    book camp sites and also make payment via Paypal.
                                </div>
                            </div>              
                        </div>
                        <div id="project-4">
                            <h4 style="color: chocolate;">Whykay Fashion</h4>
                            <div>
                                <strong>FULLSTACK</strong> 
                                <div>
                                    RESTful routes implemented in the web application using Node.js and data saved using Mongodb. 
                                    It a web application built with React.js framework. 
                                    It features clothing items and allows users to add items to cart and also pay via Paypal.
                                </div>
                            </div>              
                        </div>
                        <div id="project-5">
                            <h4 style="color: chocolate;">Gbale Customer Care</h4>
                            <div>
                                <strong>FULLSTACK</strong> 
                                <div>
                                    RESTful routes implemented in the web application using Node.js and data saved using Mongodb. 
                                    It is a web application built for Gbale (a start-up real estate organization) to monitor the company’s efficiency. 
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div style="text-align:center">
                    <span class="dot1" onclick="currentSlide(1)"></span> 
                    <span class="dot1" onclick="currentSlide(2)"></span> 
                </div> 
            </div>
        </div>

        <div id="contact" class="contact">
            <hr>
            <h2 style="margin-bottom: 18px; margin-top: 40px;"><strong><span id="contact-header">Contact</span></strong></h2>
            <div id="contact-container">
                <div style="max-width:40rem; width:90%; margin:10px auto;">
                    <a href="mailto:wakeelmujeeb@gmail.com?subject=WhykayCraft%20Web%20Development">wakeelmujeeb@gmail.com</a>
                    <hr>
                    <h3>Let's work together</h3>
                    <div id="form">
                        <form action="/contact" method="POST">
                            <div class="form-group" id="name">
                                <input class="form-control" type="text" name="name" placeholder="Your name" required>
                            </div>
    
                            <div class="form-group" id="email">
                                <input class="form-control" type="email" name="email" placeholder="Your email address" required>
                            </div>
    
                            <div class="form-group" id="message">
                                <textarea class="form-control" name="message" placeholder="Your message" required></textarea>
                            </div>
    
                            <div class="form-group">
                                <button class= "btn btn-lg btn-primary btn-block">Submit!</button>
                            </div>
                        </form>
                    </div>
                </div>            
            </div>
            <div id="hire-me">
                Hire <a href="#about">me</a> to experience my team-work and goal-driven ability.
            </div>
            <div style="text-align: center;">
                <a href="#home"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
            </div>
        </div>            
                
        <div class="footer">
            <span>&#169;2020 Whykay&#8482;</span>
            <span ><a href="https://wa.me/2348169392279"><img src="/img/whatsApp.jpg" alt="whatsApp" width="20" height="20"></a></span>
            <span ><a href="https://www.facebook.com/wakeel.mujeeb"><img src="/img/facebook.jpg" alt="facebook" width="20" height="20"></a></span>
            <span ><a href="https://www.linkedin.com/in/mujeeb-wakeel-7932ab188"><img src="/img/linkedin.jpg" alt="linkedin" width="20" height="20"></a></span>
            <span ><a href="https://github.com/mujeebwakeel">Github</a></span>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/script/screen.js"></script>
<script src="/script/slideshow.js"></script>
<script src="/script/navlist.js"></script>

</body>
</html>